* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

header,
section h2,
section h3,
form button {
    font-family: "Bungee", sans-serif;
    font-weight: normal;
}

body, input, textarea {
    font-family: "Roboto", sans-serif
}

header {
    padding: 16px 0;
    background-color: #511f8b;
    color: #ecf0f1;
    padding-bottom: 12px;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 14px;
}

header nav li a {
    color: #ecf0f1;
    text-decoration: none;
}

header nav li input {
    background-color: #2a2066;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
    padding: 8px 16px;
}

header nav li input:hover {
    background-color: #6486e2;

}

.container {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brands-list img {
    height: 24px;
}

.brands-list li {
    display: inline;
    margin-right: 8px;
}

section .container {
    align-items: flex-start;
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
}

section {
    padding: 8px 0;
    color: #182c61;
}

section h2 {
    margin-bottom: 16px;
}

section p {
    margin-bottom: 8px;
    padding-right: 50px;
}

section h3 {
    margin-bottom: 16px;
}

.store-logo {
    margin-right: 3px;
    width: 540px;
}

#about {
    padding-top: 50px;
}

#contact .container {
    display: block;
    background-color: #511f8b;
    color: #ecf0f1;
    padding: 8px;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;

}

#dados {
    margin-top: 100px;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

#checkbox-publicidade {
    display: inline;
    width: 20px;
}

#checkbox-termos {
    display: inline;
    width: 20px;
}

label {
    font-size: small;
}

form textarea {
    resize: none;
    height: 180px;
}

form button {
    background-color: #182c61;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #6486e2;
}

input:focus, textarea:focus {
    outline-color: #6486e2;
}

.social-links img {
    height: 24px;
}

.social-links li {
    display: inline;
    margin-right: 8px;
}

.social-links li a {
    text-decoration: none;
}

#logs .container {
    padding-top: 50px;
    padding-left: 160px;
    padding-right: 160px;
    padding-bottom: 320px;
}

footer {
    background-color: #511f8b;
    color: #ecf0f1;
    padding: 16px 0;
}