@use 'variaveis';
@use 'hero';

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTextoPrincipal;
}

@mixin title($fontSize: 28px) {
    @include text($fontSize);
    color: variaveis.$corTextoSecundario;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Avenir, sans-serif;
}

body {
    background-color: variaveis.$corDeFundo;
}

.text {
    @include text; //16px

    &--big {
        @include text(18px);
    }

    &--small {
        @include text(12px);
    }

    &--link {
        @include text(18px);
        color: variaveis.$corTextoSecundario;
        text-decoration: underline;
    }
}

.title {
    @include title; //28px

    &--big {
        @include title(40);
    }

}